@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    html {
        font-family: theme("fontFamily.sans");
        height: 100vh;
    }

    .btn-accent {
        background-color: var(--accent);
        color: var(--base-300);
        border-radius: 10px;
        font-family: theme("fontFamily.sans");
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.5px;
    }

    .btn-neutral {
        color: var(--secondary);
        font-family: theme("fontFamily.sans");
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.5px;

        [data-theme="light"] .btn-neutral {
            background-color: #fff !important;
        }
    }

}
