@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    html {
        font-family: theme("fontFamily.sans");
        height: 100vh;
    }

    a {
        color: var(--accent);
    }

    button {
        background-color: var(--base-300);
        color: var(--primary);
    }
}
