:root {
    background-color: var(--base-content) !important;
    color: var(--primary) !important;
}

[data-theme="light"] {
    --accent: #FBD144;
    --base-content: #E9EBEC;
    --primary: #3D3D3D;
    --secondary: #575757;
    --base-300: #3D3D3D;
    --base-200: #A3ABB2;
    --base-100: #D7D7D7;
}

[data-theme="dark"] {
    --accent: #FBD144;
    --base-content: #0C151D;
    --primary: #F1F2F4;
    --secondary: #A3ABB2;
    --base-300: #0C151D;
    --base-200: #171F26;
    --base-100: #A3ABB2;
}

